body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}



@media (max-width: 500px){

}





@media (max-width: 700px){

}




@media (max-width: 1000px){
  

}





