@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root{
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --font-color: #333;
    /* set variation axis values */
    --mono: "MONO" 0; /* Monospace: Sans (natural-width) or Mono (fixed-width) */
    --casl: "CASL" 0; /* Casual: Linear to Casual */
    --wght: 300; /* Weight: Light to ExtraBlack; usually set with `font-weight` */
    --slnt: 0deg; /* Slant: 0 to -15 degrees, auto cursive at -14 */
    --crsv: "CRSV" 0.5; /* Cursive: always roman (0), auto substitution (.5), or always cursive (1) */

}


* {
    font-weight: var(--wght);
    font-style: oblique var(--slnt);
    font-variation-settings: var(--mono), var(--casl), var(--crsv);
  }

  html {
    font-size: 20px; // Set the Root EM value
  }

  body {
    color: var(--font-color);
    font-family: Recursive, sans-serif;
  }

  span{
    --wght: 500;
  }


  header {
    display: flex;
    justify-items: right;

    span{
        padding: 1rem;
    }


    p{
        border-bottom: 2px dotted black;
        padding: .3rem;
        flex-grow: 4;
    }
  }


  main{
    margin: auto;
    max-width: 1000px;

    >p{
        margin-top: .75rem;
        --casl: "CASL" 1
      }
  }


  div {
    display: flex;
    align-items: center;

    >span{
        margin: 1rem;
        padding: .5rem;
        border: 3px solid black;
        border-radius: 25px;

    }
    p{
        border-left: 2px solid black;
        padding: .3rem;
        font-size: .75rem;
    }
  }

  h2 {
    font-size: var(--s2);
    --wght: 700;
    margin: .75rem 0 .75rem 0 ;
    --mono: "MONO" .5;
  } 

  li{
    list-style-type: none;
    padding: .5rem;
  }